In [34]:
#Load data
import pandas as pd
df = pd.read_csv("/Users/breannabelisle/Desktop/Quantic Datasets/Transactions.csv")

In [20]:
#Confirm data load 
print(df.head())

  Transaction_ID Customer_ID Product_ID        Date      Date 2  Quantity  \
0         T00001  CUST011708       P027  2023-01-01  2023-01-01         2
1         T00001  CUST023014       P042  2023-01-01  2023-01-01         3
2         T00001  CUST019741       P001  2023-01-01  2023-01-01         2
3         T00001  CUST035347       P062  2023-01-01  2023-01-01         3
4         T00001  CUST031472       P064  2023-01-01  2023-01-01         2

   Unit_Price  Total_Amount Payment_Method     Channel  Month  Year  \
0         5.0          10.0     Tap to Pay      Social      1  2023
1         6.0          18.0     Tap to Pay         NaN      1  2023
2         4.5           9.0           Cash  Mobile App      1  2023
3         7.0          21.0           Cash       Email      1  2023
4         7.0          14.0     Tap to Pay       Email      1  2023

   Number_of_Scoops
0                 2
1                 3
2                 1
3                 4
4                 4

In [21]:
#Confirm dataset volume 
print(df.shape)

(751062, 13)

In [23]:
#(1)DATA UNDERSTANDING 
#Check Data types
print(df.dtypes)

Transaction_ID       object
Customer_ID          object
Product_ID           object
Date                 object
Date 2               object
Quantity              int64
Unit_Price          float64
Total_Amount        float64
Payment_Method       object
Channel              object
Month                 int64
Year                  int64
Number_of_Scoops      int64
dtype: object

In [22]:
#(2) DATA CLEANING 
#Get missing data per col 
missing_counts_per_column = df.isnull().sum() 

print(missing_counts_per_column)

Transaction_ID           0
Customer_ID              0
Product_ID               0
Date                     0
Date 2                   0
Quantity                 0
Unit_Price               0
Total_Amount             0
Payment_Method           0
Channel             149914
Month                    0
Year                     0
Number_of_Scoops         0
dtype: int64

In [36]:
#(4) OUTLIER DETECTION 
#Outlier Calculation: IQR of "Total Amount" 
column_to_analyze = df['Total_Amount'] 

# Calculate Q1
Q1 = column_to_analyze.quantile(0.25)

# Calculate Q3
Q3 = column_to_analyze.quantile(0.75)

# Calculate the Interquartile Range (IQR)
IQR = Q3 - Q1

# Define the outlier boundaries (using the standard 1.5 * IQR rule)
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("--- IQR Results for Total_Amount ---")
print(f"First Quartile (Q1): {Q1}")
print(f"Third Quartile (Q3): {Q3}")
print(f"Interquartile Range (IQR): {IQR}")
print(f"Lower Bound (Outliers below): {lower_bound}")
print(f"Upper Bound (Outliers above): {upper_bound}")

#Find and print the outliers
outliers = df[(df['Total_Amount'] < lower_bound) | (df['Total_Amount'] > upper_bound)]
print(f"\nNumber of Outliers Found: {len(outliers)}")
# Use .head() to avoid printing all rows if you have many outliers
print(f"First 5 Outlier Transactions:\n{outliers.head()}")

--- IQR Results for Total_Amount ---
First Quartile (Q1): 13.5
Third Quartile (Q3): 25.0
Interquartile Range (IQR): 11.5
Lower Bound (Outliers below): -3.75
Upper Bound (Outliers above): 42.25

Number of Outliers Found: 0
First 5 Outlier Transactions:
Empty DataFrame
Columns: [Transaction_ID, Customer_ID, Product_ID, Date, Date 2, Quantity, Unit_Price, Total_Amount, Payment_Method, Channel, Month, Year, Number_of_Scoops]
Index: []

In [24]:
#(5) CALCULATE AND VISUALIZE DESCRIPTIVE STATISTICS 
#Mean of numeric variables
print("Mean Calculations:")
print(f"Total_Amount Mean: {df['Total_Amount'].mean()}")
print(f"Quantity Mean: {df['Quantity'].mean()}")
print(f"Unit_Price Mean: {df['Unit_Price'].mean()}")
print(f"Number_of_Scoops Mean: {df['Number_of_Scoops'].mean()}")

Mean Calculations:
Total_Amount Mean: 19.67997315800826
Quantity Mean: 3.4238185396145724
Unit_Price Mean: 5.747426976734277
Number_of_Scoops Mean: 2.4975461413305426

In [26]:
#(5) CALCULATE AND VISUALIZE DESCRIPTIVE STATISTICS 
#Frenquency of Nominal and Ordinal: Payment Method
frequency_table = df['Payment_Method'].value_counts()

print("--- Frequency Count ---")
print(frequency_table)

print("\n--- Relative Frequency (Percentage) ---")
# Get the percentage/proportion of each unique value
relative_frequency_table = df['Payment_Method'].value_counts(normalize=True) * 100

print(relative_frequency_table)

--- Frequency Count ---
Payment_Method
Tap to Pay     250776
Credit Card    250743
Cash           249543
Name: count, dtype: int64

--- Relative Frequency (Percentage) ---
Payment_Method
Tap to Pay     33.389520
Credit Card    33.385127
Cash           33.225353
Name: proportion, dtype: float64

In [27]:
#(5) CALCULATE AND VISUALIZE DESCRIPTIVE STATISTICS 
#Frenquency of Year
frequency_table = df['Year'].value_counts()

print("--- Frequency Count ---")
print(frequency_table)

print("\n--- Relative Frequency (Percentage) ---")
# Get the percentage/proportion of each unique value
relative_frequency_table = df['Year'].value_counts(normalize=True) * 100

print(relative_frequency_table)

--- Frequency Count ---
Year
2025    480324
2024    233122
2023     37616
Name: count, dtype: int64

--- Relative Frequency (Percentage) ---
Year
2025    63.952643
2024    31.038982
2023     5.008375
Name: proportion, dtype: float64

In [28]:
#(5) CALCULATE AND VISUALIZE DESCRIPTIVE STATISTICS 
#Frenquency of Month AND Year
grouped_frequency = df.groupby(['Month', 'Year']).size().reset_index(name='Count')

#Get the total number of rows in dataframe 
total_count = len(df) 

#Calculate the percentage column
grouped_frequency['Percentage'] = (grouped_frequency['Count'] / total_count) * 100

# Rounding to two decimal places
grouped_frequency['Percentage'] = grouped_frequency['Percentage'].round(2)

print(grouped_frequency)

    Month  Year  Count  Percentage
0       1  2023   1913        0.25
1       1  2024  13858        1.85
2       1  2025  27175        3.62
3       2  2023   1800        0.24
4       2  2024  12425        1.65
5       2  2025  24558        3.27
6       3  2023   1929        0.26
7       3  2024  13213        1.76
8       3  2025  30779        4.10
9       4  2023   1764        0.23
10      4  2024  16760        2.23
11      4  2025  33715        4.49
12      5  2023   1671        0.22
13      5  2024  17646        2.35
14      5  2025  38696        5.15
15      6  2023   6890        0.92
16      6  2024  24839        3.31
17      6  2025  48916        6.51
18      7  2023   7384        0.98
19      7  2024  25100        3.34
20      7  2025  54328        7.23
21      8  2023   6579        0.88
22      8  2024  25332        3.37
23      8  2025  50502        6.72
24      9  2023   1821        0.24
25      9  2024  16472        2.19
26      9  2025  37452        4.99
27     10  2023   1810        0.24
28     10  2024  17677        2.35
29     10  2025  38763        5.16
30     11  2023   2013        0.27
31     11  2024  24299        3.24
32     11  2025  45087        6.00
33     12  2023   2042        0.27
34     12  2024  25501        3.40
35     12  2025  50353        6.70

In [29]:
#(5) CALCULATE AND VISUALIZE DESCRIPTIVE STATISTICS 
#Frenquency of Customer_ID. Aim to confirm there isn't any outliers among customers. 
frequency_table = df['Customer_ID'].value_counts()

print("--- Frequency Count ---")
print(frequency_table)

print("\n--- Relative Frequency (Percentage) ---")
# Get the percentage/proportion of each unique value
relative_frequency_table = df['Customer_ID'].value_counts(normalize=True) * 100

print(relative_frequency_table)

--- Frequency Count ---
Customer_ID
CUST027871    47
CUST013587    47
CUST021000    46
CUST015139    45
CUST038407    45
              ..
CUST021914     8
CUST029538     8
CUST031352     8
CUST024730     8
CUST030748     8
Name: count, Length: 30001, dtype: int64

--- Relative Frequency (Percentage) ---
Customer_ID
CUST027871    0.006258
CUST013587    0.006258
CUST021000    0.006125
CUST015139    0.005992
CUST038407    0.005992
                ...
CUST021914    0.001065
CUST029538    0.001065
CUST031352    0.001065
CUST024730    0.001065
CUST030748    0.001065
Name: proportion, Length: 30001, dtype: float64

In [30]:
#(5) CALCULATE AND VISUALIZE DESCRIPTIVE STATISTICS 
#Min and Max Customer_ID count. What is the min and max times a customer has attended Crafted Cones? 
import pandas as pd

#Attendance per customer 
attendance_counts = df.groupby('Customer_ID').size().reset_index(name='Attendance_Count')

#Min and max values from the new 'Attendance_Count' column
min_max_attendance = attendance_counts['Attendance_Count'].agg(['min', 'max'])

print("--- Min and Max Customer Attendance ---")
print(min_max_attendance)

--- Min and Max Customer Attendance ---
min     8
max    47
Name: Attendance_Count, dtype: int64

In [31]:
#(5) CALCULATE AND VISUALIZE DESCRIPTIVE STATISTICS 
#Average and Median customer attendance 

# Group by customer attendance count 
attendance_counts = df.groupby('Customer_ID').size().reset_index(name='Attendance_Count')

#Find the mean and median of attendance counts
average_median_attendance = attendance_counts['Attendance_Count'].agg(['mean', 'median'])

print("--- Average and Median Customer Attendance ---")
print(average_median_attendance)

--- Average and Median Customer Attendance ---
mean      25.034566
median    25.000000
Name: Attendance_Count, dtype: float64